<div data-controller="graphs">
  <input type = "hidden" id="graph-id" value = "<%=params["id"]%>" >
  Nodes: <div data-graphs-target="nodes">Loading...</div>
  Links: <div data-graphs-target="links">Loading...</div>
</div>
